
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="utf-8">
  <title>人才详情</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="比奇堡招聘网">
  <meta name="description" content="我们要成为全球最大的招聘网站">
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
  <link rel="stylesheet" th:href="@{/css/global.css}">
  <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
</head>
<body>

<div th:insert="~{index::topbar}"></div>
<div th:insert="~{company/index::company-topbar}"></div>

<div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li class="layui-this">人才详情</li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            <div>
              <form method="post">
                <div class="layui-form-item">
                  <label class="layui-form-label">姓名</label>
                  <div class="layui-input-inline">
                    <input readonly="readonly" type="text" name="name" autocomplete="off" class="layui-input" th:value="${seeker.name}">
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">性别</label>
                  <div class="layui-input-inline" >
                    <input readonly="readonly" type="text" name="name" autocomplete="off" class="layui-input" th:value="${seeker.sex}">
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">年龄</label>
                  <div class="layui-input-inline">
                    <input readonly="readonly" type="text" name="age" autocomplete="off" class="layui-input" th:value="${seeker.age}">
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">电话</label>
                  <div class="layui-input-inline">
                    <input readonly="readonly" type="text" name="phone" autocomplete="off" class="layui-input" th:value="${seeker.phone}">
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">邮箱</label>
                  <div class="layui-input-inline">
                    <input readonly="readonly" type="text" name="email" autocomplete="off" class="layui-input" th:value="${seeker.email}">
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">学历</label>
                  <div class="layui-input-inline">
                    <input readonly="readonly" type="text" name="education" autocomplete="off" class="layui-input" th:value="${seeker.education}">
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">住址</label>
                  <div class="layui-input-inline">
                    <input readonly="readonly" type="text" name="post" autocomplete="off" class="layui-input" th:value="${seeker.location}">
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">期望薪资</label>
                  <div class="layui-input-inline">
                    <input readonly="readonly" type="text" name="salary" autocomplete="off" class="layui-input" th:value="${seeker.salary_expected_num}+${seeker.salary_expected_unit}">
                  </div>
                </div>
              </form>
              <form method="post" th:action="@{/company/recruit/}+${seeker.UUID}">
              </form>
                <div>
                <button class="layui-btn" lay-submit th:onclick=" 'javascript:alertStatus(\''+${candidate.UUID}+'\' ,1)'">招聘</button>
                <button class="layui-btn" lay-submit th:onclick=" 'javascript:alertStatus(\''+${candidate.UUID}+'\' ,2)'">拒绝</button>
                <a type="button" class="layui-btn" th:href="@{/resume/}+${resume.content}">查看简历</a>
                <a type="button" class="layui-btn" th:href="@{/file/download/}+${candidate.resume_UUID}">下载简历</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div th:insert="~{index::bootombar}"></div>

<script th:src="@{/layui/layui.js}"></script>
<script>
  layui.use('form', function(){
    var form = layui.form;
  });
</script>
<script th:inline="javascript">
  function alertStatus(UUID,type){
    let content
    if(type==1){
      content="同意"
    }
    else if(type==2)
    {
      content="拒绝"
    }
    var token=$("input[name=_csrf]").val()
    $.ajax(
            {
              url:"/boss/candidate/"+UUID,
              type: "PUT",
              data:{
                _csrf: token,
                type:content
              },
              success(){
                alert("操作成功")
                $(location).attr('href', "/boss/candidate");
              }
            }
    )
  }
</script>
</body>
</html>