
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="utf-8">
  <title>个人信息</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="比奇堡招聘网">
  <meta name="description" content="我们要成为全球最大的招聘网站">
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
  <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>

<div th:insert="~{index::topbar}"></div>

<div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li class="layui-this">访问错误</li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            你的账号不支持访问该页面
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div th:insert="~{index::bootombar}"></div>

<script th:src="@{/layui/layui.js}"></script>
<script>
  layui.use('form', function(){
    var form = layui.form;
  });
  layui.use('upload',function () {
    var $ = layui.jquery, upload = layui.upload;
    var token=$("input[name=_csrf]").val()
    upload.render({
      elem:'#test3',
      url:'/file/upload',
      accept:'file',
      exts:'pdf',
      data:{
        _csrf: token,
      },
      done:function (res) {
        layer.msg('上传成功');
      },
      error:function (res) {
        layer.msg('上传失败');
      }
    });
  })
</script>

</body>
</html>